# Database
MONGO_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/?retryWrites=true&w=majority

# Meta WhatsApp API
META_WHATSAPP_TOKEN=your_meta_token_here
META_PHONE_NUMBER_ID=your_phone_id_here
META_VERIFY_TOKEN=trackmydeal_verify
