attrs==25.3.0
Babel==2.10.3
beautifulsoup4==4.14.2
certifi==2025.10.5
cffi==2.0.0
chardet==5.2.0
charset-normalizer==3.4.3
colorama==0.4.6
contourpy==1.3.3
cryptography==42.0.8
cycler==0.12.1
apscheduler
flask
python-dotenv
pymongo
requests
playwright
playwright-stealth
beautifulsoup4
pandas
scikit-learn
matplotlib
gunicorn
bson
lxml
lxml_html_clean
MarkupSafe
numpy
pillow
python-dateutil
pytz
soupsieve
typing_extensions
urllib3
Werkzeug
idna
isodate
Jinja2
kiwisolver
packaging
psutil
pycparser
pyparsing
six
vobject
zeep
requests-file
requests-toolbelt
rjsmin
rl-renderPM
setuptools
fonttools
freezegun
geoip2
maxminddb
num2words
ofxparse
passlib
platformdirs
polib
qrcode
reportlab
xlrd
XlsxWriter
xlwt
ebaysdk
docopt
docutils
decorator
psycopg2
psycopg2-binary
pyOpenSSL
PyPDF2
pypng
pyserial
pyusb
libsass
